<div class="subheader dark-overlay dark-overlay-2" style="background-image: url('assets/img/subheader.jpg')">
    <div class="container">
      <div class="subheader-inner">
        <h1>Events</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="event">Event</a></li>
         
          </ol>
        </nav>
      </div>

    </div>
  </div>
  <!-- Subheader End -->

  <!-- Blog Posts Start -->
  <div class="section section-padding">

    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">

            <!-- Post Start -->
            <div class="col-lg-6">
              <article class="post">
                <h3 class="post-title"> <a routerLink="/single">Our all new chicken pizza now available</a> </h3>
                <div class="post-meta">
                  <span> <i class="far fa-calendar"></i> <a routerLink="/single">January 22, 2020</a> </span>
                  <span> <i class="far fa-user"></i> <a href="#">Fredrick Flow</a> </span>
                </div>
                <div class="post-thumbnail">
                  <a routerLink="/single"><img src="assets/img/blog/6.jpg" alt="post thumbnail"></a>
                </div>
                <div class="post-desc">
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                </div>
                <a routerLink="/single" class="read-more">Read More</a>
              </article>
            </div>
            <!-- Post End -->

            <!-- Post Start -->
            <div class="col-lg-6">
              <article class="post">
                <h3 class="post-title"> <a routerLink="/single">Changing the way thin crusts are made</a> </h3>
                <div class="post-meta">
                  <span> <i class="far fa-calendar"></i> <a routerLink="/single">January 24, 2020</a> </span>
                  <span> <i class="far fa-user"></i> <a href="#">Fredrick Flow</a> </span>
                </div>
                <div class="post-thumbnail">
                  <a routerLink="/single"><img src="assets/img/blog/2.jpg" alt="post thumbnail"></a>
                </div>
                <div class="post-desc">
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                </div>
                <a routerLink="/single" class="read-more">Read More</a>
              </article>
            </div>
            <!-- Post End -->

            <!-- Post Start -->
            <div class="col-lg-6">
              <article class="post">
                <h3 class="post-title"> <a routerLink="/single">New cheese rolls are now available</a> </h3>
                <div class="post-meta">
                  <span> <i class="far fa-calendar"></i> <a routerLink="/single">January 27, 2020</a> </span>
                  <span> <i class="far fa-user"></i> <a href="#">Fredrick Flow</a> </span>
                </div>
                <div class="post-thumbnail">
                  <a routerLink="/single"><img src="assets/img/blog/3.jpg" alt="post thumbnail"></a>
                </div>
                <div class="post-desc">
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                </div>
                <a routerLink="/single" class="read-more">Read More</a>
              </article>
            </div>
            <!-- Post End -->

            <!-- Post Start -->
            <div class="col-lg-6">
              <article class="post">
                <h3 class="post-title"> <a routerLink="/single">Rose flavored pizza is going crazy nowdays</a> </h3>
                <div class="post-meta">
                  <span> <i class="far fa-calendar"></i> <a routerLink="/single">February 1, 2020</a> </span>
                  <span> <i class="far fa-user"></i> <a href="#">Fredrick Flow</a> </span>
                </div>
                <div class="post-thumbnail">
                  <a routerLink="/single"><img src="assets/img/blog/4.jpg" alt="post thumbnail"></a>
                </div>
                <div class="post-desc">
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                </div>
                <a routerLink="/single" class="read-more">Read More</a>
              </article>
            </div>
            <!-- Post End -->

            <!-- Post Start -->
            <div class="col-lg-6">
              <article class="post">
                <h3 class="post-title"> <a routerLink="/single">Career offerings now open, sign up today</a> </h3>
                <div class="post-meta">
                  <span> <i class="far fa-calendar"></i> <a routerLink="/single">February 1, 2020</a> </span>
                  <span> <i class="far fa-user"></i> <a href="#">Fredrick Flow</a> </span>
                </div>
                <div class="post-thumbnail">
                  <a routerLink="/single"><img src="assets/img/blog/7.jpg" alt="post thumbnail"></a>
                </div>
                <div class="post-desc">
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                </div>
                <a routerLink="/single" class="read-more">Read More</a>
              </article>
            </div>
            <!-- Post End -->

            <!-- Post Start -->
            <div class="col-lg-6">
              <article class="post">
                <h3 class="post-title"> <a routerLink="/single">Cheese wheels can be the next thing</a> </h3>
                <div class="post-meta">
                  <span> <i class="far fa-calendar"></i> <a routerLink="/single">February 1, 2020</a> </span>
                  <span> <i class="far fa-user"></i> <a href="#">Fredrick Flow</a> </span>
                </div>
                <div class="post-thumbnail">
                  <a routerLink="/single"><img src="assets/img/blog/8.jpg" alt="post thumbnail"></a>
                </div>
                <div class="post-desc">
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                </div>
                <a routerLink="/single" class="read-more">Read More</a>
              </article>
            </div>
            <!-- Post End -->

          </div>
        </div>

        <!-- Sidebar Start -->
        <div class="col-lg-4">
          <div class="sidebar">
            <div class="sidebar-widget">
              <form method="post">
                <h5>Search Posts</h5>
                <input type="text" class="form-control" placeholder="Search" name="sidebar-search" value="">
              </form>
            </div>
            <div class="sidebar-widget">
              <h5>Recent Posts</h5>
              <article class="media">
                <a href="#"><img src="assets/img/blog-sm/1.jpg" alt="post"></a>
                <div class="media-body">
                  <h6> <a href="#">Cheese wheels can be the next thing</a> </h6>
                  <span>January 22, 2020</span>
                </div>
              </article>
              <article class="media">
                <a href="#"><img src="assets/img/blog-sm/2.jpg" alt="post"></a>
                <div class="media-body">
                  <h6> <a href="#">Our all new chicken pizza now available</a> </h6>
                  <span>January 24, 2020</span>
                </div>
              </article>
              <article class="media">
                <a href="#"><img src="assets/img/blog-sm/3.jpg" alt="post"></a>
                <div class="media-body">
                  <h6> <a href="#">Rose flavored pizza is going crazy nowdays</a> </h6>
                  <span>January 26, 2020</span>
                </div>
              </article>
              <article class="media">
                <a href="#"><img src="assets/img/blog-sm/4.jpg" alt="post"></a>
                <div class="media-body">
                  <h6> <a href="#">Career offerings now open, sign up today</a> </h6>
                  <span>January 28, 2020</span>
                </div>
              </article>
            </div>

            

          </div>
        </div>
        <!-- Sidebar End -->
      </div>
    </div>

  </div>
